:root {
  --color-sub: #2d2d39;
}

.btn--sub {
  background-color: var(--color-sub-light);
}

/*=======================
  Header Section
========================*/
.header {
  position: sticky;
  z-index: 111;
  background-color: var(--color-sub);
  padding: 1.5rem 0;
}

.header > .container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header__logo > img {
  height: 3.8rem;
}

.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 6.5rem;
}

.header__navItem > a {
  color: var(--color-light);
  font-weight: 300;
}

/*=======================
  Hero Section
========================*/

.hero-section {
  height: 40vh;
  display: flex;
  align-items: center;
  background-color: var(--color-sub);
}

.hero-section__box {
  margin-bottom: 4.5rem;
}

.hero-section__box > h2,
.hero-section__box > h2 > span {
  font-size: 4rem;
  color: var(--color-light);
}

.hero-section__box > h2 {
  line-height: 1.3;
  font-weight: 300;
}

.hero-section__box > h2 > span {
  font-weight: 700;
}

.hero-section__search > .form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-section__search > .form label {
  position: absolute;
  left: -9999px;
}

.hero-section__search > .form input.input--text {
  width: 50rem;
}
